version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend_service
    restart: always
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    container_name: frontend_service
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend
